@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}





body {
  font-family: 'Gotham';
  font-size: calc(12px + 0.2vw);
  color: #000;
  background-color: #fff;
}




/* MENU */

.menu li {
  display: inline-block;
}

.menu li a {
  text-decoration: none;
  display: inline-block;
}




/* HEADER */

header {
  display: flex;
  padding-top: 2.5vw;
  justify-content: space-around;
}

.logo {
  padding: 0 3.2vw 0 1.5vw;
}

.logo a {
  display: block;
}

.logo img {
  width: 257px;
}

#menu-header li {
  position: relative;
  line-height: 31px;
  padding: 0.7vw 0.8vw 0;
}

#menu-header li a {
  color: #000;
  text-transform: uppercase;
  text-align:center;
}

#menu-header li a:hover {
  color: #f1048c;
}

#menu-header .current-menu-item:before {
  content: "";
  position: absolute;
  right: 13px;
  bottom: 0;
  height: 1px;
  width: 36%;
  border-bottom: 1px solid #f1048c;
}

#menu-header .current-menu-item a {
  font-weight: bold;
}

#show-menu {
  display: none;
}




/*  FOOTER */
footer {
  background: #2e2e2e url(../images/logofooter.jpg) no-repeat center 27px;
  padding: 43px 0 28px;
  text-align: center;
}

footer .social {
  float: right;
  margin-right: 48px;
}

footer .social li {
  display: inline-block;
  margin-left: 21px;
}

footer .social li a {
  color: #fff;
  display: block;
  width: 16px;
}

footer .social li a:hover {
  color: #f1048c;
}

.menu-footer-container {
  clear: both;
  padding: 60px 0 54px;
}

#menu-footer li {
  padding: 0 0.8vw;
  line-height: 31px;
}

#menu-footer li a {
  color: #fff;
  text-transform: uppercase;
  text-align:center;
}

#menu-footer li a:hover {
  color: #f1048c;
}

footer p {
  color: #fff;
  padding-bottom: 29px;
}

footer span {
  color: #7f7f7f;
}





/* HERO */
#hero {
  position: relative;
}

#hero .title {
  position: absolute;
  top: 0;
  right: 0;
  background: #f1048c;
  z-index: 1;
  height: 24vw;
  width: 48vw;
  padding: 7vw 0 0 3vw;
}

#hero .title h1 {
  color: #fff;
  position: relative;
  font-size: 5vw;
  font-weight: bold;
  line-height: 5.5vw;
}

#hero .title h1:after {
  content: "";
  position: absolute;
  left: -1px;
  top: -2vw;
  width: 3vw;
  border-bottom: 0.5vw solid #fff;
}

#hero .title h1 span {
  color: #000;
}

#n2-ss-3-arrow-next {
  position: absolute;
  right: 24px !important;
  bottom: -7px !important;
}

#n2-ss-3-arrow-previous {
  right: 120px !important;
  bottom: -7px !important;
}

#hero-image {
  padding: 4vw 5vw;
  text-align: center;
}

#hero-image img {
  width: 100%;
}

#hero-image h1 {
  font-size: 5.5vw;
  padding-bottom: 1.5vw;
  position: relative;
  padding: 2vw 0;
}

#hero-image p {
  font-size: calc(10px + 0.9vw);
}

#hero-image span {
  color: #f1048c;
} 

#ver-video {
  position: absolute;
  bottom: 0;
  left: 2vw;
  background: #fff;
  z-index: 1;
  display: flex;
  cursor: pointer;
}

#ver-video div {
  background-color: #f1048c;
  padding: 1.5vw 3vw 1vw 6vw;
}

#ver-video div:nth-child(2) {
  background-color: #fff;
  padding: 1.5vw 2vw 0 2vw;
}

#ver-video p {
  text-align: right;
  color: #fff;
  font-size: calc(10px + 0.4vw);
}

#ver-video p:nth-child(2) {
  color: #000;
}

#ver-video .fa-play {
  font-size: 2vw;
}

#video {
  display: none;
  background-color: #000;
  text-align: center;
  position: relative;
}

#video video {
  height: 47vw;
}

#video a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding: 2vw;
}




/* HOME */
#comunidad {
  display: flex;
  background: #f6f6f6;
  margin-top: 2vw;
  padding: 5vw 4vw;
}

#comunidad h2 {
  color: #f1048c;
  position: relative;
  font-size: 5vw;
  font-weight: bold;
}

#comunidad h2:after {
  content: "";
  position: absolute;
  left: 24vw;
  top: 5.5vw;
  width: 8vw;
  border-bottom: 0.5vw solid #000;
}

#comunidad h2 span {
  color: #000;
}

#comunidad p {
  padding: 0 0 0 8vw;
  font-size: calc(10px + 0.9vw);
}

#mision {
  text-align: center;
  padding: 5vw 2vw 2vw;
}

#mision h2 {
  color: #000;
  font-size: 4vw;
  font-weight: normal;
}

#mision h2 span {
  color: #f1048c;
}

#mision p {
  font-size: calc(10px + 0.9vw);
  padding: 0 7vw;
}

#mision ul {
  display: inline-flex;
  justify-content: space-between;
  padding-top: 3vw;
  flex-wrap: wrap;
  width: 93%;
}

#mision ul li {
  background-color: #f1048c;
  color: #fff;
  border-radius: 50%;
  width: 22vw;
  margin: 1vw;
  height: 22vw;
}

#mision ul li div {
  padding: 5.5vw 1vw 0;
}

#mision ul li h3 {
  font-weight: bold;
  font-size: calc(10px + 2vw);
  margin-bottom: 1vw;
}

#mision ul li p {
  font-size: calc(10px + 0.9vw);
  padding: 0;
}

#vyp {
  display: flex;
  background: #f6f6f6;
  margin-top: 4vw;
  padding: 4vw 0;
  justify-content: space-around;
}

#vyp div {
  width: 40%
}

#vyp h2 {
  color: #000;
  position: relative;
  font-size: 4vw;
  font-weight: bold;
}

#vyp h2 span {
  color: #f1048c;
}

#vyp h2:after {
  content: "";
  position: absolute;
  left: 6vw;
  top: 4.5vw;
  width: 8vw;
  border-bottom: 0.5vw solid #000;
}

#vyp div:nth-child(2) h2:after {
  left: 13vw;
}

#vyp p {
  font-size: calc(10px + 0.9vw);
  margin-top: 4vw;
}

#visionarios {
  display: flex;
  margin-top: 2vw;
  background-color: #f1f6f7;
}

#visionarios div {
  width: 42%;
}

#visionarios div:nth-child(2) {
  width: 58%;
}

#visionarios p {
  color: #f1048c;
  padding: 7vw 0 1vw 5vw;
  font-size: 2.1vw;
}

#visionarios img {
  width: 100%
}

#visionarios h2 {
  color: #000;
  position: relative;
  font-size: 5vw;
  font-weight: normal;
  padding: 0 4vw;
}

#visionarios h2 span {
  color: #f1048c;
}

#visionarios h2:after {
  content: "";
  position: absolute;
  right: 5vw;
  bottom: -0.5vw;
  width: 8vw;
  border-bottom: 0.5vw solid #000;
}

#historia {
  padding: 6vw 4vw 0 26vw;
  background: transparent url(../images/Logo60.png) no-repeat 5vw center;
  background-size: 16vw;
}

#historia h2 {
  font-size: 4vw;
  font-weight: normal;
  padding-bottom: 2.5vw;
}

#historia p {
  font-size: calc(10px + 0.9vw);
  padding-bottom: 2.4vw;
}

#linea {
  margin-top: 2vw;
  position: relative;
}

#linea ul {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 64%;
  top: 2.4vw;
  border-top: 1px solid #d7d7d7;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 3vw;
}

#linea ul li {
  font-size: calc(10px + 0.6vw);
}

div#n2-ss-4 .n2-ss-control-bullet {
  margin-bottom: 7vw !important;
  z-index: 2;
}

div#n2-ss-4 .n2-bar-justify-content-center {
  justify-content: space-between !important;
  width: 66% !important;
}

div#n2-ss-4 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot {
  background-color: #f1048c !important;
  border: 0.4vw solid #fbbbe0 !important;
  padding: 0.8vw !important;
}

div#n2-ss-4 .n2-style-2a0a200d6a6e1fade27fb9c90af83812-dot.n2-active {
  padding: 1.7vw !important;
}

#junta {
  padding: 6vw 4vw 5vw;
}

#junta h2 {
  color: #000;
  position: relative;
  font-size: 5vw;
  font-weight: normal;
  padding-bottom: 3vw;
}

#junta h2 span {
  color: #f1048c;
}

#junta h2:after {
  content: "";
  position: absolute;
  left: 31vw;
  top: 5.4vw;
  width: 8vw;
  border-bottom: 0.5vw solid #000;
}

#junta ul {
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  padding-top: 2vw;
}

#junta ul li {
  width: 33.3%;
  padding-bottom: 5vw;
}

#junta ul li p {
  color: #727272;
  margin-bottom: 0.5vw;
}

#junta ul li p:nth-child(1) {
  text-transform: uppercase;
}

#junta ul li h3 {
  font-weight: normal;
  font-size: 2vw;
  padding-bottom: 1vw;
}

#junta ul li a {
  color: #4143f1;
}

#junta ul li a:hover {
  color: #f1048c;
} 

#etica {
  display: flex;
}

#etica div {
  width: 50%;
  background-color: #f1048c;
}

#etica div:nth-child(2) {
  background-color: #f1f6f7;
  padding: 7vw 5vw 6vw;
}

#etica h2 {
  color: #fff;
  position: relative;
  font-size: 5vw;
  font-weight: normal;
  padding: 3vw 0 9vw 5vw;
}

#etica h2 span {
  color: #000;
}

#etica h2:after {
  content: "";
  position: absolute;
  left: 20vw;
  top: 13.5vw;
  width: 8vw;
  border-bottom: 0.5vw solid #000;
}

#etica p {
  text-align: center;
  font-size: calc(10px + 0.9vw);
  margin-bottom: 2vw;
  color: #000;
}

#etica a {
  font-weight: bold;
  color: #fff;
}

#mas {
  display: flex;
  margin: 2vw 0 3vw;
  justify-content: space-evenly;
}

#mas div {
  width: 48%;
  background-color: #f1048c;
}

#mas div:nth-child(2) {
  background-color: #000;
}

#mas h3 {
  color: #fff;
  font-size: 3vw;
  font-weight: normal;
  padding: 4vw 0 2vw 2vw;
}

#mas p {
  font-size: calc(10px + 0.5vw);
  padding: 0 2vw 2vw;
  color: #fff;
}

#mas a {
  display: block;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  width: max-content;
  text-decoration: none;
  padding: 1vw 4vw;
  border-radius: 25px;
  font-size: 12px;
}

#mas a:hover {
  text-decoration: underline;
}




/* ASOCIADOS */
#asociados {
  text-align: center;
  padding-bottom: 4vw;
}

#asociados h2 {
  margin-top: 2vw;
  padding: 6vw 10vw;
  font-size: 5.5vw;
  position: relative;
  background: #f6f6f6;
  text-align: left;
}

#asociados h2 span {
  color: #f1048c;
}

#asociados h2:after {
  content: "";
  position: absolute;
  left: 62vw;
  top: 12vw;
  width: 8vw;
  border-bottom: 0.5vw solid #000;
}

#menu-asociados {
  width: 90%;
  display: inline-flex;
  justify-content: space-between;
  padding: 4vw 0 5vw;
}

#menu-asociados li {
  cursor: pointer;
  font-size: calc(10px + 0.5vw);
  padding: 0 1vw 1vw;
}

#menu-asociados li.active {
  border-bottom: 2px solid #f1048c;
}

#menu-asociados li.inactive {
  border: 0;
}

#asociados-logos {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 89%;
}

#asociados-logos a {
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 9vw;
  margin: 0.8vw;
  height: 9vw;
}

#asociados-logos a:hover {
  border-color: #f1048c;
}

.a360 {
    background-image: url(../images/logos/360.png)
}

.am {
    background-image: url(../images/logos/4am.png)
}

.arcade {
    background-image: url(../images/logos/arcade.png)
}

.avance {
    background-image: url(../images/logos/avance.png)
}

.baum {
    background-image: url(../images/logos/baum.png)
}

.bio {
    background-image: url(../images/logos/bio.png)
}

.brandy {
    background-image: url(../images/logos/brandy.png);
}

.busha {
    background-image: url(../images/logos/busha.png)
}

.camedia {
    background-image: url(../images/logos/camedia.png)
}

.comunicacion {
    background-image: url(../images/logos/comunicacion.png)
}

.crea {
    background-image: url(../images/logos/crea.png)
}

.doubledigit {
    background-image: url(../images/logos/dd.png)
}

.darwin {
    background-image: url(../images/logos/darwin.png)
}

.flevent {
    background-image: url(../images/logos/flevent.png)
}

.fw {
    background-image: url(../images/logos/fw.png)
}

.gbbdo {
    background-image: url(../images/logos/gbbdo.png)
}

.hit {
    background-image: url(../images/logos/hit.png)
}

.house {
    background-image: url(../images/logos/house.png)
}

.ideas {
    background-image: url(../images/logos/ideas.png)
}

.interaction {
    background-image: url(../images/logos/interaction.png)
}

.interamericana {
    background-image: url(../images/logos/interamericana.png)
}

.jotabequ {
    background-image: url(../images/logos/jotabequ.png)
}

.jwt {
    background-image: url(../images/logos/jwt.png)
}

.kin {
    background-image: url(../images/logos/kin.png)
}

.latres {
    background-image: url(../images/logos/latres.png)
}

.leo {
    background-image: url(../images/logos/leo.png)
}

.madison {
    background-image: url(../images/logos/madison.png)
}

.mccann {
    background-image: url(../images/logos/mccann.png)
}

.media {
    background-image: url(../images/logos/media.png)
}

.ogilvy {
    background-image: url(../images/logos/ogilvy.png)
}

.omd {
    background-image: url(../images/logos/omd.png)
}

.osopez {
    background-image: url(../images/logos/osopez.png)
}

.ninja {
    background-image: url(../images/logos/ninja.png)
}

.partner {
    background-image: url(../images/logos/partner.png)
}

.porter {
    background-image: url(../images/logos/porter.png)
}

.possible {
    background-image: url(../images/logos/possible.png)
}

.publimark {
    background-image: url(../images/logos/publimark.png)
}

.republika {
    background-image: url(../images/logos/republika.png)
}

.tac {
    background-image: url(../images/logos/tac.png)
}

.tbwa {
    background-image: url(../images/logos/tbwa.png)
}

.teah {
    background-image: url(../images/logos/teah.png)
}

.tres {
    background-image: url(../images/logos/tres.png)
}

.tribu {
    background-image: url(../images/logos/tribu.png)
}

.uccaep {
    background-image: url(../images/logos/uccaep.png)
}

.yyr {
    background-image: url(../images/logos/yyr.png)
}

.pulse {
    background-image: url(../images/logos/pulse.png)
}

.yisus {
    background-image: url(../images/logos/yisus.png)
}

.wooki {
    background-image: url(../images/logos/wooki.png)
}




/* BENEFICIOS */
#nuestros {
  background: #f6f6f6;
  margin-top: 2vw;
  padding: 6vw 10vw;
}

#nuestros h2 {
  color: #000;
  position: relative;
  font-size: 5.5vw;
  font-weight: bold;
}

#nuestros h2:after {
  content: "";
  position: absolute;
  left: 51vw;
  top: 6vw;
  width: 8vw;
  border-bottom: 0.5vw solid #000;
}

#nuestros h2 span {
  color: #f1048c;
}

#nuestros p {
  padding: 4vw 0 0;
  font-size: calc(10px + 0.9vw);
}

#bene {
  padding: 3vw 9vw;
}

#bene h2 {
  font-size: 3vw;
  font-weight: normal;
}

#bene p {
  font-size: calc(10px + 0.5vw);
}

#beneficios {
  display: flex;
  padding: 3vw 0;
}

#beneficios ul li {
  font-size: 1.5vw;
  padding: 1vw 0 1vw 1.5vw;
  color: #9fa3a7;
  border-bottom: 1px solid #f5f5f5;
  cursor: pointer;
}

#beneficios ul li.active {
  background-color: #f1048c;
  color: #fff;
  width: 21vw;
  border-radius: 5px 30px 30px 5px;
}

#beneficios ul li.inactive {
  width: 19vw;
  border-radius: 0;
  background-color: #fff;
}

#infobeneficios {
  padding: 0 0 1vw 11vw;
}

#infobeneficios h3 {
  font-size: 2.5vw;
}

#infobeneficios h3 span {
  color: #f1048c;
}

#infobeneficios h4 {
  color: #f1048c;
  padding: 1vw 0 3vw;
  font-size: calc(10px + 0.5vw);
}

#infobeneficios p {
  font-size: calc(10px + 0.5vw);
  padding-bottom: 2vw;
}

#infobeneficios a {
  display: block;
  background-color: #f1048c;
  color: #fff;
  text-transform: uppercase;
  width: max-content;
  text-decoration: none;
  padding: 1vw 4vw;
  border-radius: 25px;
  font-size: 12px;
}

#infobeneficios a:hover {
  text-decoration: underline;
}

#infobeneficios div.inactive {
  display: none;
}




/* REPRESENTACIONES */
#representaciones {
  background: #f6f6f6;
  padding: 5vw 9vw;
  margin-top: 2vw;
}

#representaciones p {
  font-size: calc(10px + 0.6vw);
  color: #f1048c;
}

#representaciones h2 {
  color: #000;
  position: relative;
  font-size: 5.5vw;
  padding-top: 1vw;
  font-weight: bold;
}

#representaciones h2 span {
  color: #f1048c;
}

#representaciones h2:after {
  content: "";
  position: absolute;
  left: 72vw;
  top: 7vw;
  width: 8vw;
  border-bottom: 0.5vw solid #000;
}

#representaciones-logos {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 4vw 0;
}

#representaciones-logos a {
  background-color: #da0380;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  width: 20vw;
  margin: 2vw;
  height: 20vw;
}

#representaciones-logos a:hover {
  background-color: #c5197a; 
}

.cannes {
    background-image: url(../images/logos/cannes.png)
}

.effie {
    background-image: url(../images/logos/effie.png)
}

.volcan {
    background-image: url(../images/logos/volcan.png)
}

.shutterstock {
    background-image: url(../images/logos/shutterstock.png)
}



/* CONTACTO */
#contacto {
  padding: 6vw 10vw;
}

#contacto h2 {
  font-size: 5.5vw;
  padding-bottom: 1.5vw;
  position: relative;
  text-align: center;
}

#contacto span {
  color: #f1048c;
}

#contacto .two-columns {
  display: flex;
  padding-top: 6vw;
  justify-content: space-between;
}

#contacto p {
  font-size: calc(10px + 0.6vw);
}

#contacto li {
  font-size: calc(10px + 0.4vw);
  color: #999999;
  padding: 4vw 0;
}

#contacto .fas {
  color: #000;
  font-size: calc(10px + 0.9vw);
  margin-right: 2vw;
}
 
#contacto label {
  font-size: calc(10px + 0.4vw);
}
 
#contacto input,
#contacto textarea {
  margin-bottom: 2vw;
  border: 0;
  width: 26vw;
  font-size: calc(10px + 0.4vw);
  border-bottom: 1px solid #cccccc;
  padding: 1vw;
}

#contacto input[type=submit] {
  display: block;
  background-color: #f1048c;
  color: #fff;
  text-transform: uppercase;
  width: max-content;
  text-decoration: none;
  padding: 1.2vw 6vw;
  border-radius: 25px;
  font-size: 12px;
  border: 0;
  cursor: pointer;
}

#contacto input[type=submit]:hover {
  text-decoration: underline;
}

div.wpcf7-response-output {
  width: 25vw !important;
  margin: 0 !important;
} 



/* 404 */
#post-not-found {
  text-align: center;
  margin: 6vw;
}



/* BLOG */

.nav-archive .nav-prev {
 text-align: center;
 padding: 5vw;
}

.nav-archive a {
  color: #000;
  text-transform: uppercase;
  width: max-content;
  text-decoration: none;
  padding: 1vw 4vw;
  border-radius: 25px;
  font-size: 12px;
  border: 1px solid #e1e1e1;
}

.nav-archive a:hover {
  text-decoration: underline;
}

#blog {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
}

#blog .category-blog {
  width: 25vw;
  margin: 3.5vw;
  text-align: center;
}

#blog .category-blog a {
  display: block;
  text-align: none;
  text-decoration: none;
}

#blog .category-blog img {
  width: 100%;
  height: auto;
  padding-bottom: 1vw;
}

#blog .category-blog img:hover {
  opacity: 0.6;
}

#blog .category-blog h2 {
  color: #000;
  font-size: calc(12px + 0.8vw);
  font-weight: normal;
}

#blog .category-blog a:hover h2 {
  text-decoration: underline;
}

#blog-post {
  padding: 5vw;
  text-align: center;
}

#blog-post h1 {
  text-align: center;
  font-weight: normal;
  padding: 3vw 7vw;
  font-size: 3.6vw;
}

#blog-post img {
  width: auto;
  height: 32vw;
  padding-bottom: 3vw;
}

#blog-post p {
  text-align: justify;
  margin-bottom: 1vw;
} 




/* BOLSA DE EMPLEO */
#bolsa {
  width: 75%;
  margin: 0 auto;
}

#bolsa .category-bolsa-de-empleo {
  margin-bottom: 11vw;
  clear: both;
  overflow: hidden;
}

#bolsa .category-bolsa-de-empleo img {
  width: 12vw;
  height: auto;
  float: left;
  margin-right: 2vw;
}

#bolsa .category-bolsa-de-empleo h2 {
  color: #000;
  font-size: calc(12px + 0.8vw);
  margin: 2vw 0;
}

#empresa {
  color: #999;
  margin-bottom: 2vw;
}



/* CAPACITACIONES */
#capacitaciones {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

#capacitaciones .category-capacitaciones {
  margin-bottom: 4vw;
  overflow: hidden;
}

#capacitaciones .category-capacitaciones a {
  display: block;
  background-color: #f1048c;
  color: #fff;
  text-transform: uppercase;
  width: max-content;
  text-decoration: none;
  padding: 1vw 4vw;
  border-radius: 25px;
  font-size: 12px;
  margin: 3vw auto;
}

#capacitaciones .category-capacitacionesa:hover {
  text-decoration: underline;
}

#capacitaciones .category-capacitaciones h2 {
  color: #000;
  font-size: calc(12px + 0.8vw);
  margin: 2vw 0;
}

#fecha {
  color: #999;
  font-size: calc(12px + 0.2vw);
  font-weight: normal;
}



/* MOBILE */
@media only screen and (max-width: 640px) {

 #show-menu {
    display: block;
    width: 100%;
    line-height: 7vw;
    padding: 3vw 5vw 0 0;
    overflow: hidden;
  }

  #show-menu a,
  #show-menu a:hover,
  #show-menu a:active {
    color: #f1048c;
    text-decoration: none;
    cursor: pointer;
    margin-right: 0;
    float: right;
    font-size: 7vw;
  }

  #show-menu a:nth-child(2) {
    display: none;
  }

  #menu-header {
    display: none;
    background-color: #fff;
    position: absolute;
    left: 0;
    width: 100%;
    top: 38vw;
    z-index: 4;
  }

  #menu-header li {
    float: none;
    text-align: center;
    border-bottom: 1px solid #363636;
    margin-right: 0;
    font-size: 4vw;
    line-height: 70px;
    width: 98%;
  }

  #menu-header ul li a {
    display: block;
  }

  #menu-header .current-menu-item:before {
    display: none;
  }

  footer .social {
    float: none;
    margin-right: 0;
    padding: 60px 0 54px;
  }

  .menu-footer-container {
    display: none;
  }

  #mision ul {
    justify-content: center;
  } 

  #mision ul li {
    width: 30vw;
    height: 30vw;
  }

  #mision ul li div {
    padding-top: 7vw;
  }

  #mision ul li h3 {
    font-size: calc(10px + 1.5vw);
  }

  #mision ul li p {
    font-size: calc(10px + 0.5vw);
  }

}